* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
  height: 10vh;
}

/* Navbar Section */
nav {
  position: fixed;
  width: 100vw;
  z-index: 1;
  line-height: 100px;
  background-color: #fff;
}

nav .wrapper {
  position: relative;
  max-width: 1140px;
  padding: 0 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo a {
  text-decoration: none;
  font-size: 27px;
  font-weight: 500;
}

.nav-links {
  display: inline-flex;
}

.nav-links li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  letter-spacing: 0.1em;
  position: relative;
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #525f7f;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after { 
  width: 100%; 
  left: 0; 
}

.socials {
  color: #8d8d8d;
}

.socials a {
  color: #8d8d8d;
}

.socials > a > img {
  width: 20px;
  height: 20px;
}

.contacts {
  text-decoration: underline;
}

.contact__section {
  padding: 6%;
}

.contact__section .row {
  margin-bottom: 60px;
}

.contact__section .row h1 {
    font-size: 500%;
    font-weight: normal;
}

.contact__section .row p {
  font-size: 380%;
}

.contact__section .row .mail {
  text-decoration: underline;
  cursor: pointer;
}

/* -------- Footer Section ------ */
.footer .row .col {
  padding: 6%;
  font-size: 120%;
}

.footer__section {
  color: #000000;
}



/* MEDIA QUERIES */
@media screen and (max-width: 640px) {
  header {
    height: 10vh;
  }

  .wrapper .logo a {
    font-size: 22px;
  }

  /* Links */
  a {
    font-size: 14px;
    padding: 1px 15px;
  }

  .contact__section {
    padding: 4%;
  }

  .contact__section .row h1 {
    font-size: 250%;
    font-weight: normal;
  }

  .contact__section .row p {
    font-size: 10%;
  }

  /* Footer Section */
  .footer .row .col {
    padding: 3%;
    font-size: 90%;
  }
}

@media screen and (max-width: 375px) {
  /* Header */
  header {
    height: 10vh;
  }

  /* Navbar Section */
  nav {
    width: 105vw;
  }
  
  nav .wrapper {
    padding: 0 28px;
  }
  
  .wrapper .logo a {
    font-size: 16px;
    margin-left: -20px;
  }

  /* Links */
  a {
    font-size: 12px;
    padding: 0px 4px;
  }
  
  .socials > a > img {
    width: 15px;
    height: 15px;
  }
  
  .contact__section {
    padding: 20px;
  }

  .contact__section .row h1 {
    font-size: 200%;
    font-weight: normal;
  }

  .contact__section .row p {
    font-size: 130%;
  }
  
  /* Footer Section */
  .footer .row .col {
    padding: 6%;
    font-size: 100%;
  }
}
